.card {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #3d3d3d;
}

.card-body {
  background-color:white;
}

.cord-header2 {
  font-size: large;
  border-radius: 10px;
  border: 10px blue;
}

.accordion-container {
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

.no-models {
  font-size: large;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #3d3d3d;
}

.no-models > *:first-child {
  padding-top: 15px;
}

.no-models > *:last-child {
  padding-bottom: 15px;
}

.prediction-group {
  margin-top: 15px;
}

.prediction-label, .input-label {
  font-size: large;
}

.prediction-error {
  color: rgb(153, 29, 29);
}

.form-file {
  margin-top: 10px;
}