.card {
  margin-left: 20%;
  margin-right: 20%;
  background-color: grey;
  color: aliceblue;
}

.card-body {
  background-color: black;
}

.cord-name {
  font-size: large;
}

.accordion {
  margin-top: 15px;
}

.prediction-group {
  margin-top: 20px;
}

.prediction-label, .input-label {
  font-size: large;
}

.prediction-error {
  color: rgb(153, 29, 29);
}

.form-file {
  margin-top: 10px;
}